// this is our just created themes.scss file, make sure the path to the file is correct
@import 'themes';

// framework component styles
@import '~@nebular/theme/styles/globals';

// install the framework styles
@include nb-install() {
  @include nb-theme-global();
};

nav{
  @include app-prefix(box-shadow, (0px 0px 0px nb-theme(background-basic-color-1)));
} 

$top-1: 76px;
$top-2: 76px * 2;
$top-3: ($top-2)+50px;
$top-4: ($top-3)+50px
