@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/cosmic';
@import '~@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((
), default, default);

$nb-themes: nb-register-theme((
), dark, dark);

$nb-themes: nb-register-theme((
), cosmic, cosmic);

$nb-themes: nb-register-theme((
), corporate, corporate);