@import "../../../../../themes.scss";

@include nb-install-component() {
    nb-card  {
        height:auto!important;
        min-width: nb-theme(input-medium-max-width);
        nb-card-body{
            display: flex;
            flex-flow: row nowrap;
            &>p:first-child{
                margin-right: 1.2rem;
            }   
            &>p:last-child{
                flex-grow: 1;
            }
            &>p{
                &::first-letter{
                    text-transform: uppercase;
                }
            }
        }

        nb-card-footer{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            
            button:last-child{
                margin-left: 1.2em;
            }
            button{
                text-transform: capitalize;
            }
        }

    }
}